.slide-up {
	&-enter-active,
	&-leave-active {
		transition: all 0.08s ease-out;
	}

	&-enter-from {
		opacity: 0;
		transform: translateY(10px);
	}

	&-leave-to {
		opacity: 0;
		transform: translateY(-10px);
	}
}
